h1 {
  font-size: 45px;
  color: red;
  text-align: center;
}
h2 {
  color: red;
  font-style: oblique;
  text-align: center;
}
h3 {
  color: red;
  font-style:
}
p {
  font-family: monospace;
  font-color: white;
}
strong {
  font-style: bold;
}
em {
  font-style: italic;
  font-color: red;
}
.Duncan {
  color: red;
  font-size: 12px
}
.aboutme {
  font-size: 65px;
  background-color: beige;
  color: black;
  margin-bottom: 0%
  padding-bottom: 20%
}
body {
  background-color: beige
}
img {
  height: 250px;
  width: 250px;
  float: none;
  align-content: center;
  margin-left: 200px
}
p {
  font-size: 15px;
  font-style: normal;
}
.photo {
  background-color: whiteS
}
